@{
    ViewData["Title"] = "Image";
}
<h1>@ViewData["Title"]</h1>

<div>
    <img src="https://imagestoredemoonblob.blob.core.windows.net/demo-image-store/c0c28b75-980f-4af2-bdb1-4c0fcca5743a.png" class="d-flex justify-content-center"/>
</div>


